@model IEnumerable<AccountingApp.ViewModels.JournalEntriesListViewModel>

@{
    ViewData["Title"] = "Lista verifikat";
}

<h1>Lista verifikat</h1>

@*TODO: Make Each item collapsible bootstrap accordian*@
@foreach (var item in Model)
{

    <p>
        <a asp-action="Edit" asp-controller="JournalEntries" asp-route-id="@item.JournalEntry.Id">@item.JournalEntry.Id - @item.JournalEntry.Name - @item.JournalEntry.Date.ToShortDateString() </a> |
    </p>
    <table>
        <thead>
            <tr>
                <th colspan="2">Konto</th>
                <th>Debit</th>
                <th>Kredit</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var row in item.Rows)
            {
                <tr>
                    <td>
                        @row.AccountNumber
                    </td>
                    <td>
                        @row.AccountName
                    </td>
                    <td>
                        @row.Debit
                    </td>
                    <td>
                        @row.Credit
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    Summa
                </td>
                <td>
                    @item.DebitSum
                </td>
                <td>
                    @item.CreditSum
                </td>
            </tr>
        </tfoot>
    </table>
}
